@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
    width: 100vw;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in-up 0.4s ease-out;
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.3s ease-out forwards;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

