@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f1f5f9;
  color: #1e293b;
}

input, select, button {
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

:root {
  --color-indigo: #6366f1;
  --color-emerald: #10b981;
  --color-rose: #f43f5e;
}
